graphwise-reactodia {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75vh;

  .blank-nodes-toggle {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
  }

  .reactodia-container {
    position: relative;
    flex: 1;
    min-height: 0;
    width: 100%;
  }
}
